* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  box-sizing: border-box;
}
*::after,
*::before {
  margin: inherit;
  padding: inherit;
  box-sizing: inherit;
}
